.slider{
    background-image: url("../assets/slider1.jpg");
    background-size:cover;
  background-position: top;
    background-repeat: no-repeat;
    

}
.about{
    background-image: url("../assets/wallpaper4.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
    
}
.containers{
    
        background-image: url("../assets/wallpaper14.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height:200px;
        width:100%;
       
        
      
}
 .username{
  font-size: 65px;
  font-family:'Times New Roman', Times, serif;
  letter-spacing: 1rem;
  text-transform:capitalize;

 }