   .teammembers{
    background: url("../assets/Zentra6.jpg");
    background-repeat: no-repeat;
    padding: 2%;
   }


   .team-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.team-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.team-img-container {
  height: 250px;
  overflow: hidden;
}

.team-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
