

 
 .navbar {

  transition: background-color 0.3s ease-in-out;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar .navbar-brand span {
  font-size: 1.15rem;
}

.navbar-nav .btn {
  transition: all 0.3s ease-in-out;
}

.navbar-nav .btn:hover {
  opacity: 0.9;
}

@media (max-width: 767px) {
  .navbar-nav {
    text-align: center;
    padding-top: 10px;
  }

  .navbar-brand {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-toggler {
    margin-top: 5px;
  }
}



.welcomesection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background: linear-gradient(135deg, #fdfbfb 0%, #ebedee 100%); */
  background-color: #f9f7f3;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all 0.3s ease;

  height:300px;
  
  background: url("../assets/Zentrawelcomemessage.jpg");


}


.welcome-text {
  font-size: 2em;
  font-weight: 600;
  letter-spacing: 0.10em;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
 font-family: "Libertinus Serif", serif;

}

.username{
  font-size: 20px;
   font-family: "Raleway";
  font-weight:normal;
}


.description{
 font-family: "Libertinus Serif", serif;
}




.project-section {
  background: url('../assets/Zentrabackground.jpg') no-repeat center center;
  background-size: cover;
  width: 100%;
  padding: 20px;
  
}

.user-popup-card {
  position: absolute;
  top: -80px; /* adjust above the profile image */
  right: 0;
  width: 120px;
  background: white;
  padding: 8px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: slideRightToLeft 0.5s ease forwards;
  z-index: 10;
}

/* Keyframes for animation */
@keyframes slideRightToLeft {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}




.project-section h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app-card {
  background-color: #f9f7f3;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  height: 200px;
 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.appcard:hover {
  transform: translateY(-8px);
 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.app-logo {
  object-fit: contain;
  width: 100%;
  padding: 1rem;
  background-color: #fff; 
  border-bottom: 1px solid #ddd;
  
}


